body{
background-color: rgb(161, 252, 196);

}
.form{
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 200px auto ;
    max-width: 700px;
    max-height: 1000px;
     border: 5px solid #009e5f;
    border-radius: 10px;
}

.form_12 label {
    display: inline-block; 
    width: 100px;    
    
    text-align: right;  
    margin-right: 10px; 
}
.form_12 label {
    margin-bottom: 15px;
}
 