    body {
        background-color: rgba(104, 253, 161, 0.308);
    }
.from {
    background-color: rgba(255, 255, 255, 0.829);
    font-style: normal;
    font-size: large;
    text-align: center;
    color: hsl(0, 0%, 0%);
    margin: 0% ;
}
.submit{    
    margin: 0 ;
}
kuy{}